<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />

    <meta charset="utf-8" />
    <title>PureJS</title>

    <script type="text/html" id="home">
      <h1>Start <%= where %>!</h1>
      <div class="login">
        <h1>Login</h1>
        <form method="post" on>
          <input
            type="text"
            name="user"
            placeholder="Username"
            required="required"
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required="required"
          />
          <button type="submit" class="btn btn-primary btn-block btn-large">
            Submit.
          </button>
        </form>
      </div>
    </script>

    <script type="text/html" id="success">
      <div class="login">
        <h1><%= title %></h1>
      </div>
    </script>

    <script type="text/html" id="example2">
      <h1><%= title %></h1>
      <h1>Number of clicks : <%= counter %></h1>

      <% for (let i of title) { %>
      <span><%= i %> </span>
      <% } %>

      <button class="my-button">Click me <%= counter %></button>
    </script>

    <script type="text/html" id="404">
      <div class="login">
        <h1>Page not found</h1>
      </div>
    </script>
  </head>
  <body>
    <nav>
      <a href="#">home</a>
      <a href="#/success">success</a>
      <a href="#/ex2">example 2</a>
    </nav>
    <div id="app"></div>

    <script src="./app.js"></script>
  </body>
</html>
